body{
	background-color:lightyellow;
	font-size: 20px;
	font-family:Vrinda;
	margin:20px;
	text-align:justify;
}

.s{
	font-size:20px;
	font-family:Vrinda;
	margin: 10px;
	color: black;
}

img{
	border:2px solid black;
	background-color:lightblue;
	padding:10px;
	border-radius:10%;
	text-align: center;
}

h2{
	font-size: 35px;
	background-color: yellow;
	color: green;
	text-align: center;
}

h3{
	font-size: 30px;
	background-color: black;
	color: white;
	text-align: center;
}

h4{
	background-color:skyblue;
	color: black;
}

h6{
	font-size:25px;
	background-color: yellow;
	color: blue;
	text-align: center;
}

p{
	font-size: 20px;
	background-color: white;
	color: black;
	text-align:justify;
}

a{
	font-size: 25px;
	color: blue;
}

h1{
	font-size: 40px;
	background-color:pink;
	color: red;
	color:blue;
}

.para1{
	background-color:red;
	color:yellow;
	font-size:20px;
}

.para2{
	background-color: lightgreen;
	font-size:15px;
	color:black;
} 

div{
	background-color: gold;
	font-size:15px;
	color:red;
}

.d1{
	background-color: gold;
	cursor:pointer;
	border:10px, blue, solid;
	border-radius:15%;
	margin:10px;
	margin-bottom: 20px;
	height: auto;

	img{
		border: 2px solid black;
		margin:10px;
	}
}

span{
	font-weight:bold;
	font-size: 25px;
}

#main{
	font-size:40px;
	margin:0px;
}

.im{
	background:lightyellow;
	img{
		width:45%;
	}
}

.image{
	background: lightyellow;
	img{
		width:23%;
	}
}

@media (max-width:1100px){
	img{
		width:90%;
	}

	.d1{
		background-color:lightyellow;
		border: 10px lightyellow solid;
	}

	.im{
		img{
			width:45%;
		}
	}

	.image{
		img{
			width: 45%;
		}
	}
}